@import '_mixins.scss';
@import '_variables.scss';
@import '_reset.scss';

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  @include heightAndWidth(100vh, none);
}

body {
  background-image: url("https://spoonacular.com/recipeImages/595736-556x370.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

main {
  @include flexbox(column, none, none);
  @include heightAndWidth(100vh, none);
}

nav {
  @include heightAndWidth(15%, none);
}

.home-nav-bar,
.favorites-nav-bar {
  @include flexbox(none, none, center);
  background-color: rgba(225, 225, 225, .6);
  @include heightAndWidth(100%, 100%);
}

.home-button-container {
  @include flexbox(none, center, center);
  @include heightAndWidth(100%, 15%);
}

.home-button {
  @include heightAndWidth(80%, 80%);
}

.nav-search-bar {
  @include flexbox(none, center, center);
  @include heightAndWidth(100%, 60%);
}

.search-input {
  @include heightAndWidth(50%, 70%);
}

.search-button {
  @include heightAndWidth(50%, 20%);
}

.nav-button-container {
  @include flexbox(none, space-around, none);
  @include heightAndWidth(50%, 30%);
}

.nav-buttons {
  @include heightAndWidth(none, 25%);
}

button {
  cursor: pointer;
}

.landing-page-view {
  @include flexbox(column, flex-end, none);
  @include heightAndWidth(90%, 30%);
  padding: 2%;
}

.all-recipes-button {
  @include heightAndWidth(50%, 90%);
  border-radius: 50%;
  border: none;
  background-color: rgba(225, 225, 225, .6);
  font-size: 25px;
}

.recipe-display-view {
  @include heightAndWidth(85%, none);
}

.recipe-card-section {
  @include flexbox(none, none, none);
  flex-wrap: wrap;
  @include heightAndWidth(90%, 100%);
  padding-left: 10%;
  overflow-y: auto;
}

.recipe-card {
  @include flexbox(column, none, none);
  @include heightAndWidth(45%, 17%);
  background-color: #f3f6f4;
  box-shadow: 1px 1px 1px #444444;
  margin: 20px;
}

.recipe-card-img {
  @include heightAndWidth(60%, auto);
}

.recipe-name-button {
  @include heightAndWidth(20%, none);
  border: 1px solid #bcbcbc;
  box-shadow: 0px 2px 2px #999999;
  margin: 0;
  padding: 0;
}

.recipe-card-buttons {
  @include flexbox(none, space-between, none);
  @include heightAndWidth(20%, 100%);
  margin-top: 15px;
  padding: 3px;
  padding-bottom: 10px;
}

.to-cook-button,
.add-favorite-button,
.remove-favorite-button {
  box-shadow: 0px 2px 2px #999999;
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  margin: 8px;
}

.recipe-details-view {
  @include flexbox(column, center, center);
  @include heightAndWidth(100%, none);
}

span {
  @include flexbox(none, center, center);
  @include heightAndWidth(20%, 30%)
  background-color: rgba(225, 225, 225, .6);
  font-size: 30px;
  margin: 10px;
}

.recipe-header {
  @include flexbox(none, space-between, none);
  @include heightAndWidth(none, 100%);
  background-image: url("https://spoonacular.com/recipeImages/595736-556x370.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-details {
  @include flexbox(none, space-around, none);
  overflow-y: auto;
}

.recipe-details,
.recipe-header {
  @include heightAndWidth(40%, 60%);
  background-color: rgba(225, 225, 225, .6);
}

.recipe-detail-buttons {
  @include flexbox(none, none, flex-end);
  align-self: flex-start;
}

.ingredients {
  @include heightAndWidth(none, 25%);
}

.instructions {
  @include heightAndWidth(none, 75%);
}

.filter-view {
  @include flexbox(none, center, center);
  @include heightAndWidth(100%, none);
}

.filter-form {
  @include flexbox(column, none, center);
  @include heightAndWidth(75%, 50%);
  background-color: rgba(225, 225, 225, .6);
}

.filter-view-title {
  text-align: center;
}

.tag-style-div {
  @include flexbox(none, none, none);
  @include heightAndWidth(10%, 50%);
  font-size: 20px;
}

.filter-view-tags {
  @include flexbox(column, none, flex-start);
  @include heightAndWidth(75%, 50%);
  flex-wrap: wrap;
}

.filter-view-button-container {
  @include flexbox(none, center, center);
  @include heightAndWidth(50%, 50%);
}

.filter-view-button {
  @include heightAndWidth(50%, 50%);
  border: 1px solid #bcbcbc;
  box-shadow: 0px 2px 2px #999999;
  font-size: 20px;
}

.pantry-heading {
  @include flexbox(none, none, none);
  align-self: flex-start;
  margin: 0;
}

.pantry-view {
  @include heightAndWidth(80%, none);
}

.pantry-item-container {
  @include flexbox(none, center, center);
  @include heightAndWidth(100%, none);
}

.pantry-item-list {
  @include flexbox(none, center, none);
  @include heightAndWidth(80%, 60%);
  background-color: rgba(225, 225, 225, .6);
  overflow-y: auto;
}

.missing-ingredients,
.cook-now {
  @include heightAndWidth(100%, none);
  margin: 3px;
}

.hidden {
  display: none;
}
